[submodule "vendor/toml11"]
	path = vendor/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "vendor/span-lite"]
	path = vendor/span-lite
	url = https://github.com/martinmoene/span-lite.git
[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "vendor/hackrf"]
	path = vendor/hackrf
	url = https://github.com/mossmann/hackrf.git
[submodule "vendor/glog"]
	path = vendor/glog
	url = https://github.com/google/glog.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Netdex/imgui.git
[submodule "vendor/cppzmq"]
	path = vendor/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "vendor/libzmq"]
	path = vendor/libzmq
	url = https://github.com/zeromq/libzmq.git
